/* Responsive adjustments */
@media (max-width: 768px) {
/* Adjust margin and padding for filter buttons */
    .btn-group {
        margin-bottom: 5px;
    }
}

@media (max-width: 576px) {
/* Stack filter buttons vertically on extra small screens */
    .btn-group {
        display: block;
        margin-bottom: 10px;
    }
}

/* Ensure table remains scrollable on small screens */
.table-responsive {
    overflow-x: auto;
}

.set{
    position: relative;
    left: 45px;
}
.pos{
    position: relative;
    left: 0px;
    top: 10px;
    font-style:  italic;
